{% extends 'lb/base.html' %}
{% load crispy_forms_tags %}
{% load lb_extras %}
{% load staticfiles %}
{% block content %}
    <section style="background: url({% static 'img/core-img/texture.png' %})">
        <div class="single-course-content section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content" style="background: white">
                            <div class="media" style="height:200px">
                                <div class="media-left">
                                    {{ subscriber.email|gravatar:100 }}
                                </div>
                                <div class="media-body">
                                    <h1>{{ subscriber.username }}</h1>
                                    <p>{{ subscriber.signature }}</p>
                                    <p>{{ subscriber.title }}</p>
                                    <p>{{ subscriber.department }}</p>
                                </div>
                            </div>
                            <div class="clever-tabs-content">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">Environments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true">Submissions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab--4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="true">Posts</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <!-- Tab Text -->
                                    <div class="tab-pane fade active in show" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                        <div class="clever-description">
                                            <div class="well well-lg">
                                                <h3>About</h3>
                                                <p>{{ subscriber.about|safe }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab Text -->
                                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                        <div class="clever-curriculum">
                                            <div class="well well-lg">
                                                <h3>Environment</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Images</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    {% for environment in environment_list %}
                                                        <tbody>
                                                            <td><a href="{{ environment.get_absolute_url }}"><img class="img-thumbnail" src="{{environment.images.url}}"  alt="images" style="height:100px"></a></td>
                                                            <td><a href="{{ environment.get_absolute_url }}">{{ environment.name }}</a></td>
                                                            <td>{{ environment.short_des }}</td>
                                                        </tbody>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab Text -->
                                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                        <div class="clever-review">
                                            <div class="well well-lg">
                                                <h3>Submission</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Environment</th>
                                                            <th>Score</th>
                                                            <th>Submission date</th>
                                                        </tr>
                                                    </thead>
                                                    {% for submission in submission_list %}
                                                    <tbody>
                                                        <td><a href="{% url 'lb:submission_detail' submission.pk %}">{{ submission.name }}</a></td>
                                                        <td><a href="{{ submission.environment.get_absolute_url }}">{{ submission.environment }}</td>
                                                        <td>{{ submission.score}}</td>
                                                        <td>{{ submission.sub_date }}</td>
                                                    </tbody>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab Text -->
                                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab--4">
                                        <div class="clever-members">
                                            <div class="well well-lg">
                                                <h3>Posts</h3>
                                                <p>Posts</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
{% endblock %}
