{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
<p>account profile</p>
{% block content %}
    <div><h4>Personal Information</h4></div>              
    <form class="profile" method="post" enctype="multipart/form-data"               
        action="{% url 'lb:account_profile' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="avatar">
            <img class="img-rounded" src="{{ request.user.avatar.url }}">
        </div>
        <button type="button" class="btn btn-primary" type="submit">SAVE</button>
	<button type="button" class="btn" href="{% url 'lb:account_detail' %}">CANCEL</button>
    </form>
{% endblock %}

