{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
	<div style="height:200px">
		<img class="img-fluid img-thumbnail float-left" src="{{user.avatar.url}}" alt="avatar" style="height:100px">
		<h1>{{ user.username }}</h1>
		<p>{{ user.signature }}</p>
		<p>{{ user.title }}</p>
		<p>{{ user.department }}</p>
	</div>
</div>
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">About</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Environments</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Submissions</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Posts</a></li>
</ul>
<div class="tab-content">
	<div id="home" class="container tab-pane active">
		<h3>About</h3>
		<p>{{ user.about|safe }}</p>
	</div>
	<div id="menu1" class="container tab-pane fade">
		<h3>Environment</h3>
		<table class="table table-hover">
		 <thead>
			<tr>
				<th>Images</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		{% for environment in environment_list %}
		<tbody>
			<td><img class="img-thumbnail" src="{{environment.images.url}}"  alt="images" style="height:100px" ></td>
			<td><a href="{{ environment.get_absolute_url }}">{{ environment.name }}</a></td>
			<td>{{ environment.short_des }}</td>
		</tbody>
		{% endfor %}
		</table>
	</div>
	<div id="menu2" class="container tab-pane fade">
		<h3>Submission</h3>
		<table class="table table-hover">
		 <thead>
			<tr>
				<th>Name</th>
				<th>Environment</th>
				<th>Score</th>
				<th>Submission date</th>
			</tr>
		</thead>
		{% for submission in submission_list %}
		<tbody>
			<td><a href="{% url 'lb:submission' submission.pk %}">{{ submission.name }}</a></td>
			<td><a href="{{ submission.environment.get_absolute_url }}">{{ submission.environment }}</td>
			<td>{{ submission.score}}</td>
			<td>{{ submission.sub_date }}</td>
		</tbody>
		{% endfor %}
	</table>
    </div>
    <div id="menu3" class="container tab-pane fade">
      <h3>Discussion</h3>
      <p>Discussion</p>
    </div>
</div>
{% endblock %}