{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}
{% block local-account %}
	<div class="logo">PasswordReset</div>
	{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
	{% endif %}
	<!-- Main Form -->
	<div class="login-form-1">
		<form class="text-left"  method="POST" action="{% url 'account_reset_password' %}" >
			 {% csrf_token %}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						   <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
					</div>
					<div class="form-group">
						        {% csrf_token %}
        						{{ form.as_p }}
					</div>
				</div>
				<button type="submit" value="{% trans 'Reset My Password' %}"  class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Please contact us if you have any trouble resetting your password.</p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->

{% endblock local-account %}
