<!DOCTYPE html>
{% load staticfiles %}
{% load lb_extras %}
<html>
  <head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		/* Make the image fully responsive */
		.carousel-inner img {
		width: 100%;
		height: 100%;
		}
		.post-footer, .comments {
		padding: 20px 0;
		}
  </style>
	{% block extra_head %}
	{% endblock %}
  </head>
<body>
<div>
	{% block body %}
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Logo</a>
		</div>
		<div>
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item"><a class="nav-link" href="{% url 'lb:environment_list' %}">Environment</a></li>
			{% if user.is_authenticated %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{{ user.email|gravatar }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'lb:account_detail' user.username %}">{{user.username}}</a></li>
					<li><a href="{% url 'lb:account_profile' %}">Profile</a></li>
					<li><a href="{% url 'account_change_password' %}">Account Setting</a></li>
					<li class="divider"></li>
					<li><a href="{% url 'account_logout' %}">Log Out</a></li>
				</ul>
			</li>
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign UP</a></li>
			{% endif %}
		</ul>
		</div>	
	</div>
	</nav>
	<div class="container">
		{% if messages %}
		<div class="alert alert-success alert-dismissable">
          		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<ul>
				{% for message in messages %}
				<p>{{message}}</p>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% block content %}
	{% endblock %}
	{% block extra_body %}
	{% endblock %}
	{% endblock %}
	</div>
</div>
<nav class="navbar navbar-default navbar-inverse navbar-bottom" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Logo</a>
		</div>
		<div class="nav navbar-nav navbar-right">
			<li><a class="nav-link" href="#">FAQ</a></li>
			<li><a class="nav-link" href="#">About us</a></li>
			<li><a class="nav-link" href="#">Privacy</a></li>
			<li><a class="nav-link" href="#">Terms of Service</a></li>
			<li><a class="nav-link" href="#">Github</a></li>
		</div>
	</div>
</nav>
</body>
</html>
