{% extends 'lb/base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block content %}
<div class="media">
	<div class="media-left" href="#">
		<img class="media-object" src="{{environment.images.url}}" alt="images" style="width:400px">
	</div>
	<div class="media-body">
		<h1>{{ environment.name }}</h1>
		<p>{{environment.short_des}}</p>
		<p class="text-muted">passing line:{{ environment.passing_line }}</p>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Participants:</small>
			<small class="text-muted">{{ environment.join_nb }}</small>
		</div>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Pub date:</small>
			<small class="text-muted">{{ environment.pub_date }}</small>
		</div>
		<span class="badge badge-secondary">{{environment.solved}}</span>
	</div>
</div>
<ul class="nav nav-tabs">
	<li ><a href="{% url 'lb:environment' environment.pk%}">Overview</a></li>
	<li><a href="{% url 'lb:environment_leaderboard' environment.pk%}">Leaderboard</a></li>
	<li class="active"><a href="#home">Discussion</a></li>
	<li><a href="{% url 'lb:environment_category' environment.pk%}">Category</a></li>
</ul>

<div class="well well-lg">
		{% get_comment_count for environment as comment_count %}
		<h3>Discussion</h3>
		{% if comment_count %}
			{{ comment_count }} comments have been posted.
			<hr/>
			<div class="comments">
				{% render_xtdcomment_tree for environment allow_flagging allow_feedback show_feedback%}
			</div>
		{% else %}
			<p>There has no posts</p>
		{% endif %}
		{% if environment.allow_comments %}
			<div class="comment">
				<h4 class="text-center">Your comment</h4>
				<div class="well">
					{% render_comment_form for environment %}
				</div>
			</div>
		{% endif %}
</div>
{% endblock content%}