{% extends 'lb/environment_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block envthing %}
<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#home" data-toggle="tab">Overview</a></li>
	<li><a href="{% url 'lb:environment_leaderboard' environment.pk%}">Leaderboard</a></li>
	<li><a href="{% url 'lb:environment_discussion' environment.pk%}">Discussion</a></li>
	<li><a href="{% url 'lb:environment_category' environment.pk%}">Category</a></li>
</ul>
<div class="well well-lg">
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
		<h3>Overview</h3>
		{{ environment.long_des|safe }}
	</div>
	<div class="tab-pane fade" id="category">
		<h3>Category</h3>

	</div>
</div>
</div>
{% endblock envthing %}

