{% extends 'lb/environment_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block envthing %}
<ul class="nav nav-tabs">
	<li ><a href="{% url 'lb:environment' environment.pk%}">Overview</a></li>
	<li><a href="{% url 'lb:environment_leaderboard' environment.pk%}">Leaderboard</a></li>
	<li class="active"><a href="#home">Discussion</a></li>
	<li><a href="{% url 'lb:environment_category' environment.pk%}">Category</a></li>
</ul>

<div class="well well-lg">
		{% get_comment_count for environment as comment_count %}
		<h3>Discussion</h3>
		{% if comment_count %}
			{{ comment_count }} comments have been posted.
			<hr/>
			<div class="comments">
				{% render_xtdcomment_tree for environment allow_flagging allow_feedback show_feedback%}
			</div>
		{% else %}
			<p>There has no posts</p>
		{% endif %}
		{% if environment.allow_comments %}
			<div class="comment">
				<h4 class="text-center">Your comment</h4>
				<div class="well">
					{% render_comment_form for environment %}
				</div>
			</div>
		{% endif %}
</div>
{% endblock envthing%}