{% extends 'lb/environment_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block envthing %}
<ul class="nav nav-tabs">
	<li ><a href="{% url 'lb:environment' environment.pk%}">Overview</a></li>
	<li><a href="{% url 'lb:environment_leaderboard' environment.pk%}">Leaderboard</a></li>
	<li><a href="{% url 'lb:environment_discussion' environment.pk%}">Discussion</a></li>
	<li class="active"><a href="#home">Category</a></li>
</ul>
<div class="well well-lg">
		{% for category in category_list %}
			 <a href="#">{{ category.name }}</a>
		{% endfor %}
</div>
{% endblock envthing%}