{% extends 'lb/base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block content %}
<div class="card">
	<div>
		<img class="img-fluid img-thumbnail float-left" src="{{environment.images.url}}" alt="images" style="width:400px">
		<h1>{{ environment.name }}</h1>
		<p>{{environment.short_des}}</p>
		<p class="text-muted">passing line:{{ environment.passing_line }}</p>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Participants:</small>
			<small class="text-muted">{{ environment.join_nb }}</small>
		</div>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Pub date:</small>
			<small class="text-muted">{{ environment.pub_date }}</small>
		</div>
		<span class="badge badge-secondary">{{environment.solved}}</span>
	</div>
</div>
<div>
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Overview</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Leaderboard</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Discussion</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Category</a></li>
</ul>
<div class="tab-content">
	<div id="home" class="container tab-pane active">
		<h3>Overview</h3>
		<p>{{ environment.long_des|safe }}</p>
	</div>
    <div id="menu1" class="container tab-pane fade">
    	<h3>Leaderboard</h3>
	<table class="table table-hover">
		 <thead>
			<tr>
				<th>Name</th>
				<th>Participant</th>
				<th>Score</th>
				<th>Submission date</th>
			</tr>
		</thead>
		{% for submission in submission_list %}
		<tbody>
			<td><a href="{% url 'lb:submission' submission.pk %}">{{ submission.name }}</a></td>
			<td><a href="{% url 'lb:account_detail'  submission.owner.username %}">{{ submission.owner }}</a></td>
			<td>{{ submission.score}}</td>
			<td>{{ submission.sub_date }}</td>
		</tbody>
		{% endfor %}
	</table>
    </div>
	<div id="menu2" class="container tab-pane fade">
		{% get_comment_count for environment as comment_count %}
		<h3>Discussion</h3>
		{% if comment_count %}
			<hr/>
			<ul class="media-list">
				{% render_xtdcomment_tree for environment allow_flagging allow_feedback show_feedback%}
			</ul>
		{% else %}
			<p>There has no posts</p>
		{% endif %}
			<div class="comment">
				<h4 class="text-center">Your comment</h4>
				<div class="well">
					{% render_comment_form for environment %}
				</div>
			</div>
	</div>
    <div id="menu3" class="container tab-pane fade">
      <h3>Category</h3>
		{% for category in category_list %}
			 <a href="#">{{ category.name }}</a>
		{% endfor %}
    </div>
</div>


{% endblock content %}

