{% extends 'lb/base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block content %}
<div class="media">
	<div class="media-left" href="#">
		<img class="media-object" src="{{environment.images.url}}" alt="images" style="width:400px">
	</div>
	<div class="media-body">
		<h1>{{ environment.name }}</h1>
		<p>{{environment.short_des}}</p>
		<p class="text-muted">passing line:{{ environment.passing_line }}</p>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Participants:</small>
			<small class="text-muted">{{ environment.join_nb }}</small>
		</div>
		<div class= "text-right" style="width:100;border:0px">
			<small class="text-muted">Pub date:</small>
			<small class="text-muted">{{ environment.pub_date }}</small>
		</div>
		<span class="badge badge-secondary">{{environment.solved}}</span>
	</div>
</div>
<ul class="nav nav-tabs">
	<li><a href="{% url 'lb:environment' environment.pk%}">Overview</a></li>
	<li class="active"><a href="#">Leaderboard</a></li>
	<li><a href="{% url 'lb:environment_discussion' environment.pk%}">Discussion</a></li>
	<li><a href="{% url 'lb:environment_category' environment.pk%}">Category</a></li>
</ul>
<div class="well well-lg">
		<h3>Leaderboard</h3>
		<table class="table table-hover">
		 <thead>
			<tr>
				<th>Name</th>
				<th>Participant</th>
				<th>Score</th>
				<th>Submission date</th>
			</tr>
		</thead>
		{% for submission in submission_list %}
		<tbody>
			<td><a href="{% url 'lb:submission' submission.pk %}">{{ submission.name }}</a></td>
			<td><a href="{% url 'lb:account_detail'  submission.owner.username %}">{{ submission.owner }}</a></td>
			<td>{{ submission.score}}</td>
			<td>{{ submission.sub_date }}</td>
		</tbody>
		{% endfor %}
		</table>
</div>
{% endblock content%}