{% extends 'lb/base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block title %}{{ environment.name }}{% endblock %}
{% block content %}
    <!-- ##### Single Course Intro Start ##### -->
    <div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url({{environment.images.url}});height: 300px">
        <!-- Content -->
        <div class="single-course-intro-content text-center">
            <h3>{{ environment.name }}</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                <p>{{ environment.short_des }}</p>
            </div>
            <div class="price">{{ environment.solved }}</div>
        </div>
    </div>
    <!-- ##### Single Course Intro End ##### -->

    <!-- ##### Courses Content Start ##### -->
    <div class="single-course-content section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="course--content">
                        <div class="clever-tabs-content">
                            {% block envthing %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="course-sidebar">
                        <!-- Buy Course -->
                        <a href="{% url 'lb:submit' environment.pk %}" class="btn clever-btn mb-30 w-100">Submit</a>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Detail</h4>
                            <ul class="features-list">
                                <li>
                                    <h5><i class="fa fa-bell" aria-hidden="true"></i> Passingline</h5>
                                    <h5>{{ environment.passing_line }}</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-user" aria-hidden="true"></i> Participants</h5>
                                    <h5>{{ join_nb }}</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-calendar" aria-hidden="true"></i> PubDate</h5>
                                    <h5>{{ environment.pub_date }}</h5>
                                </li>
                            </ul>
                        </div>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Category</h4>
                            {% for category in category_list %}
                                <div class="single--courses d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="{{ category.img.url }}" alt="">
                                    </div>
                                    <div class="content">
                                        <h5>{{ category.name }}</h5>
                                        <h6>{{ category.des }}</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Courses Content End ##### -->
{% endblock %}