{% extends 'lb/environment_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}
{% block envthing %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:environment_detail' environment.pk %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'lb:environment_leaderboard' environment.pk %}">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:environment_discussion' environment.pk %}">Discussion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:environment_download' environment.pk %}">Download</a>
        </li>
    </ul>

    <div class="clever-description">
        <div class="about-course mb-30">
            <h3>Leaderboard</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Participant</th>
                        <th>Score</th>
                        <th>Submission date</th>
                    </tr>
                </thead>
                {% for submission in submission_list %}
                <tbody>
                    <td><a href="{% url 'lb:submission' submission.pk %}">{{ submission.name }}</a></td>
                    <td><a href="{% url 'lb:account_detail'  submission.owner.username %}">{{ submission.owner }}</a></td>
                    <td>{{ submission.score}}</td>
                    <td>{{ submission.sub_date }}</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock envthing%}