{% extends "lb/base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- ##### Img Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>This is a platform for deep learning</h2>
                        {% if user.is_authenticated %}
                            <a href="{% url 'lb:environment_list' %}" class="btn clever-btn">Look Environments</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="btn clever-btn">JOIN US</a>
				{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Img Area End ##### -->

    <!-- ##### Environments Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Hot Environment</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for environment in environment_list %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                            <a href="{% url 'lb:environment_detail' environment.pk%}"><img src="{{environment.images.url}}" alt=""></a>
                            <!-- Course Content -->
                            <div class="course-content">
                                <a href="{% url 'lb:environment_detail' environment.pk%}"><h4>{{ environment.name }}</h4></a>
                                <div class="meta d-flex align-items-center">
                                {% for category in environment.category.all %}
                                    <a href="#">{{ category.name }}</a>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                {% endfor %}
                                    <a href="#">Category1</a>
                                </div>
                                <p>{{ environment.short_des }}</p>
                            </div>
                            <!-- Seat Rating Fee -->
                            <div class="seat-rating-fee d-flex justify-content-between">
                                <div class="seat-rating h-100 d-flex align-items-center">
                                    <div class="seat">
                                        <i class="fa fa-tag" aria-hidden="true"></i> {{environment.solved}}
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                    </div>
                                </div>
                                <div class="course-fee h-100">
                                    <a href="{% url 'lb:environment_detail' environment.pk%}" class="free">Join</a>
                                </div>
                            </div>
                        </div>
                </div>
                {% empty  %}
			        <h2>no environment</h2>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- ##### Environments End ##### -->
{% endblock content%}
