{% extends "lb/base.html" %}
{% load staticfiles %}

{% block content %}
<div>
	<div id="demo" class="carousel slide">
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
		<div class="item active">
			<img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
			<div class="carousel-caption">
				<h3>This is a platform for deep learning</h3>
				{% if user.is_authenticated %}
				<a href="{% url 'lb:environment_list' %}"><button type="button" class="btn btn-primary">Look Environments</button></a>
				{% else %}
				<a href="{% url 'account_signup' %}"><button type="button" class="btn btn-primary">JOIN US</button></a>
				{% endif %}
			</div>
		</div>
		<div class="item">
			<img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
			<div class="carousel-caption">
				<h3>Second Picture</h3>
			</div>
		</div>
		<div class="item">
			<img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
			<div class="carousel-caption">
				<h3>Third Picturre</h3>
			</div>
    		</div>
		</div>
		<a class="carousel-control left" href="#demo" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#demo" data-slide="next">&rsaquo;</a>
	</div>
	<div style="margin-top:20px;margin-bottom:20px">
		<h2>Hot Environment</h2>
	</div>
	<ul class="list-group">
 		{% for environment in environment_list %}
			<div class="list-group-item">
				<div class="media">
					<a class="media-left" href="{% url 'lb:environment' environment.pk%}">
						<img class="media-object" src="{{environment.images.url}}" alt="media" height="100">
					</a>
					<div class="media-body">
						<h4><a href="{% url 'lb:environment' environment.pk%}">{{ environment.name }}</a></h4>
						<p style="color: #666666">{{ environment.short_des }}</p>
						<span class="badge badge-secondary">{{environment.solved}}</span>
					</div>
				</div>
			</div>
		{% empty  %}
			<h2>no environment</h2>
		{% endfor %}
	</ul>
</div>
{% endblock content%}
