{% extends 'lb/submission_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block subthing %}
<div>
	<ul id="myTab" class="nav nav-tabs">
		<li><a href="{% url 'lb:submission' submission.pk%}">Overview</a></li>
		<li class="active"><a href="#">BestRwards</a></li>
		<li><a href="{% url 'lb:submission_episodes' submission.pk%}">Episodes</a></li>
		<li><a href="{% url 'lb:submission_discussion' submission.pk%}">Discussion</a></li>
	</ul>
	<div class="well well-lg">
			<h3>BestRwards</h3>
			<p>{{ submission.score }}</p>
	</div>
</div>
{% endblock subthing %}
