{% extends 'lb/submission_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block subthing %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'lb:submission_detail' submission.pk %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:submission_bestrwards' submission.pk %}">BestRwards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:submission_episodes' submission.pk %}">Episodes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lb:submission_discussion' submission.pk %}">Discussion</a>
        </li>
    </ul>
	<div class="well well-lg">
	    <div class="tab-content">
            <h3>Overview</h3>
            <p>{{ submission.description|safe }}</p>
	    </div>
    </div>
{% endblock subthing %}
