{% extends 'lb/submission_head.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block subthing %}
<div>
	<ul id="myTab" class="nav nav-tabs">
		<li><a href="{% url 'lb:submission' submission.pk%}">Overview</a></li>
		<li><a href="{% url 'lb:submission_bestrwards' submission.pk%}">BestRwards</a></li>
		<li><a href="{% url 'lb:submission_episodes' submission.pk%}">Episodes</a></li>
		<li class="active"><a href="#">Discussion</a></li>
	</ul>
	<div class="well well-lg">
		{% get_comment_count for submission as comment_count %}
		<h3>Discussion</h3>
		{% if comment_count %}
		{{ comment_count }} comments have been posted.
			<hr/>
			<ul class="comments">
				{% render_xtdcomment_tree for submission allow_flagging allow_feedback show_feedback %}
			</ul>
		{% else %}
			<p>There has no posts</p>
		{% endif %}
		{% if submission.allow_comments %}
			<div class="comment">
				<h4 class="text-center">Your Comment</h4>
				<div class="well">
					{% render_comment_form for submission %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock subthing %}
