{% extends 'lb/base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block content %}
<div>
	<div>
		<ul>
		<h1>{{ submission.name }}</h1>
		<h4><a href="{% url 'lb:account_detail' submission.owner.username%}">owner:{{ submission.owner }}</a></h4>
		<h4><a href="{% url 'lb:environment' environment.pk %}">environment:{{ submission.environment }}</a></h4>
		<span>submission date:{{ submission.sub_date }}</span>
		</ul>
	</div>
	<ul id="myTab" class="nav nav-tabs">
		<li><a href="{% url 'lb:submission' submission.pk%}">Overview</a></li>
		<li class="active"><a href="#">BestRwards</a></li>
		<li><a href="{% url 'lb:submission_episodes' submission.pk%}">Episodes</a></li>
		<li><a href="{% url 'lb:submission_discussion' submission.pk%}">Discussion</a></li>
	</ul>
	<div class="well well-lg">
			<h3>BestRwards</h3>
			<p>{{ submission.score }}</p>
	</div>
</div>
{% endblock content %}
